import React from 'react';
import styles from './{{name}}.module.css';

type {{name}}Props = {
  text: string;
};

const {{name}}: React.FC<{{name}}Props> = ({ text }) => {
  return (
    <div className={styles.component}>
      {text}
    </div>
  );
};

export default {{name}};
